
h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif
}

article {
    font-family: 'PT Serif', "Georgia", "Times", 'Times New Roman', serif;
    line-height: 1.7em;
    font-size: 1.2em;
}
article p {
    margin-bottom: 1.5em;
}
.sharing {
    line-height: 14px; /** fix for lowered fb like button **/
}


body:before {
    left: 0;
    top: 0;
    z-index: 50;
    display: block;
    height: 5px;
    width: 100%;
    background: #428bca;
    content: "";
}

body {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #222
}

h1 {
    font-size: 2.2em;
    line-height: 1.2em
}

header[role=banner] {
    padding: 1.5em;
    font-size: 1em;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    header[role=banner] {
        font-size: 1.2em
    }
}

@media only screen and  (min-width: 992px) {
    header[role=banner] {
        font-size: 1.5em
    }
}


header[role=banner] h1 {
    display: inline-block;
    margin: 0
}
header[role=banner] h1 {
    font-size: 2.2em;
    font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    line-height: 1.2em;

}



header[role=banner] h1 a, header[role=banner] h1 a:visited, header[role=banner] h1 a:hover {
    color: #333;
    text-decoration: none
}


header[role=banner] h2 {
    margin: .2em 0 0;
    font-size: 1em;
    color: #4e4e4e;
    font-weight: normal
}

article h2 { font-size: 2.2em;}
article h2 a:hover {text-decoration: none}

@media (max-width: 767px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
}